<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'html_dependencies.jinja2' %}
</head>
<body>
<div>
    {% block navbar %}
    {% endblock %}
</div>
<div class="container" id="main" style="padding-top: 70px;">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>